.panel {
    width: 600px;
    margin: auto;
    margin-top: 200px;
}

table {
    width: 100%;
}

table tr td {
    padding: 5px 10px 5px 10px;
}

input {
    width: 100%;
}

#error {
    color: red;
}